version: "3.5"
services:
  beacon-chain:
    build:
      context: beacon-chain
      args:
        UPSTREAM_VERSION: v5.3.2
        STAKER_SCRIPTS_VERSION: 0.1.2
        DATA_DIR: /data
    volumes:
      - beacon-chain-data:/data
    restart: unless-stopped
    environment:
      CHECKPOINT_SYNC_URL: ""
      EXTRA_OPTS: ""
      FEE_RECIPIENT_ADDRESS: ""
      VERBOSITY: info
      MIN_SYNC_PEERS: "3"
      MAX_PEERS: "70"
      SUBSCRIBE_ALL_SUBNETS: "false"
  validator:
    build:
      context: validator
      args:
        UPSTREAM_VERSION: v5.3.2
        STAKER_SCRIPTS_VERSION: 0.1.2
        DATA_DIR: /root/.eth2validators
    restart: on-failure
    environment:
      LOG_TYPE: INFO
      GRAFFITI: validating_from_DAppNode
      EXTRA_OPTS: ""
      FEE_RECIPIENT_ADDRESS: ""
      VERBOSITY: info
volumes:
  beacon-chain-data: {}
  validator-data: {}
